body.destination-body {
    background: url('/src/assets/destination/background-destination-desktop.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.destination{
    position:relative;
    .left-side{
        width: 60%;
        float: left;

        .heading-text{
            font-size:28px;
            position: absolute;
            top: 200px;
            left: 200px;
            letter-spacing: 5px;
    
            .number{
                color: #50525A;
                padding-right: 20px;
            }
    
            .text{
                color:white;
            }
        }
    }

    img.planet-image {
        position: relative;
        top: 200px;
        left: 200px;
    }

    .right-side{
        float: right;
        width: 40%;

        ul {
            position: relative;
            top: 150px;
            right: 75px;
    
            li.nav-item {
                display: inline;
                letter-spacing: 2px;
    
                a.nav-links {
                    text-decoration: none;
                    color: #D0D6F9;
                    font-size: 14px;
                    margin-left: 25px;
    
                }
    
                a.nav-links.active{
                    border-bottom: 3px solid white;
                    padding-bottom: 10px;
                    color: white;
                    font-weight: bold;
                }
            }
        }

        h1{
            color: white;
            font-size: 100px;
            position: relative;
            top: 100px;
            right: 20px;
            letter-spacing: 15px;
            font-weight: 200;
        }

        p.planet-description{
            color: #D0D6F9;
            width: 80%;
            position: relative;
            top: 50px;
            right: 20px;
            letter-spacing: 2px;
            border-bottom: 1px solid #D0D6F9;
            padding-bottom: 50px;
        }

        .distance{
            top: 100px;
            position: relative;
            right: 20px;

            p.desc{
                color: #D0D6F9;
            }
            h4{
                font-size: 28px;
                margin-top: 0;
                color:white;
            }
        }

        .travel-time {
            position: relative;
            right: -200px;
            top: -5px;

            p.desc{
                color: #D0D6F9;
            }

            h4{
                font-size: 28px;
                margin-top: 0;
                color:white;
            }
        }
    }
}


@media (min-width:851px) and (max-width:1200px) {
    .destination .right-side {
        width: 25%;
    }
}

@media (max-width:850px) {
    .destination {
        .left-side .heading-text {
        font-size: 28px;
        position: absolute;
        top: 100px;
        left: 75px;
        letter-spacing: 5px;
        width: 400px;
        }

        img.planet-image{
            top: 100px;
            left: 30px;
        }

        .right-side{
            float:unset;
            width:50%;

            .distance{
                right: -100px;
            }

            .travel-time{
                right: -300px;
            }

            p.planet-description{
                color: #D0D6F9;
                width: 300px;
                position: relative;
                top: 50px;
                right: -100px;
                letter-spacing: 2px;
                border-bottom: 1px solid #D0D6F9;
                padding-bottom: 50px;
            }

            h1{
                right: -110px;
            }
            
            ul{
                top: 150px;
                right: -50px;
            }

            .nav-links{
                padding:unset;
                display:unset;
            }
        }
    }

}