@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&display=swap');

*{
    font-family: 'Barlow Condensed', sans-serif;
}

body {
background: url('/src/assets/home/background-home-desktop.jpg'); 
height: 900px;
}

.homepage{
    position:relative;
    &_text {
        color: white;
        position: absolute;
        top: 350px;
        width: 30%;
        left: 200px;
        
        h3 {
            font-size: 28px;
            letter-spacing: 5px;
        }

        h1 {
            font-size: 150px;
            margin: 0;
            letter-spacing: 10px;
        }

        p{
            font-size: 18px;
            line-height: 32px;
        }
    }
}